extends ./templates/layout.pug

block content
    div.container
      div.github-profile
        img(src='/public/img/gh-mark-32px.png', alt='github logo')
        p
          span ID: 
          span#profile-id.profile-value
        p
          span Username: 
          span#profile-username.profile-value
        p
          span Display Name: 
          span#display-name.profile-value
        p
          span Repositories: 
          span#profile-repos.profile-value
        a.menu(href="/") Home
        p#menu-divide |
        a.menu(href="/logout") Logout
        
block footer
    script(type="text/javascript" src="common/ajax-functions.js")
    script(type="text/javascript" src="controllers/userController.client.js")